body { 
  margin: 0;
  padding: 0;
}

.header {
    background: #3287f7;
    height: 200px;
    background-image:url(../styles/background.jpg);
    background-size: cover;
  }
  
  .header h1 {
    margin-left: 10px;
    color: white;
    font-size: 3rem;
  }

  
  

  

  .footer {
    position: fixed;
    bottom: 0;
    width:  100%;
    display: flex;
    justify-content: center;
    color: black;
  }