body { 
  margin: 0;
  padding: 0;
  background-color: #6BA2BE;
}

.header {
    background: #3287f7;
    height: 200px;
    background-image:url(../styles/background.jpg);
    background-size: cover;
  }
  
  .header h1 {
    margin-left: 10px;
    color: #94572D;
    font-size: 3rem;
  }
  .css-r6ewbb-MuiToolbar-root{
    position: center;
    color: #94572D;
    padding-left: 200px;
  }

  .Typewriter {
    font-size: 60px;
    color:#080A0D;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  margin-left: 10px;
}

.aboutMe {
  font-size: 28px;
  color: black;
  position: center;
}

.card {
  display: inline-block;
  padding-left: 100px;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  margin-left: 20px;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: black;
  background-image:url(../styles/background.jpg);
    background-size: cover;
}


.css-1u3bzjs-MuiFormControl-root-MuiTextField-root {
  padding-top: 75px;
  background-color: black;
  color: black;
}
  



  .footer {
    position: fixed;
    bottom: 0;
    width:  100%;
    display: flex;
    justify-content: center;
    color: black;
  }